extends layout

block content
  h1 #{title}

  .row
    each story in stories
      .col-md-8
        a(href="/#{story.id}")
          h5 #{story.headline}
        if story.comments
          each c in story.comments
            video(controls src="https://s3-eu-west-1.amazonaws.com/codefestb/#{c}")

      .col-md-4
        a(href="/#{story.id}/create")
          img(src="images/imageedit_8_5842369433.png")
